ProtoChannel.Demo/Service References/ServiceReference/ProtoChannel.Demo.Shared.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProtoChannel.Demo.Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProtoChannel.Demo.Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SimpleMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleMessage" nillable="true" type="tns:SimpleMessage" />
  <xs:complexType name="ComplexMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Values" nillable="true" type="tns:ArrayOfComplexValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComplexMessage" nillable="true" type="tns:ComplexMessage" />
  <xs:complexType name="ArrayOfComplexValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComplexValue" nillable="true" type="tns:ComplexValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComplexValue" nillable="true" type="tns:ArrayOfComplexValue" />
  <xs:complexType name="ComplexValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="DoubleValue" type="xs:double" />
      <xs:element minOccurs="0" name="IntValue" type="xs:int" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComplexValue" nillable="true" type="tns:ComplexValue" />
</xs:schema>