ProtoChannel.Demo/Service References/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ServerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ProtoChannel.Demo.Shared" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServerService_SimpleMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SimpleMessage" />
  </wsdl:message>
  <wsdl:message name="ServerService_SimpleMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SimpleMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ServerService_ComplexMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:ComplexMessage" />
  </wsdl:message>
  <wsdl:message name="ServerService_ComplexMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComplexMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="ServerService">
    <wsdl:operation name="SimpleMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ServerService/SimpleMessage" message="tns:ServerService_SimpleMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServerService/SimpleMessageResponse" message="tns:ServerService_SimpleMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComplexMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ServerService/ComplexMessage" message="tns:ServerService_ComplexMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServerService/ComplexMessageResponse" message="tns:ServerService_ComplexMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ServerService" type="tns:ServerService">
    <wsp:PolicyReference URI="#NetTcpBinding_ServerService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SimpleMessage">
      <soap12:operation soapAction="http://tempuri.org/ServerService/SimpleMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComplexMessage">
      <soap12:operation soapAction="http://tempuri.org/ServerService/ComplexMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerService">
    <wsdl:port name="NetTcpBinding_ServerService" binding="tns:NetTcpBinding_ServerService">
      <soap12:address location="net.tcp://localhost:20348/ServerService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:20348/ServerService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>