ProtoChannel.Demo/Service References/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ProtoChannel.Demo.Shared" />
  <xs:element name="SimpleMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProtoChannel.Demo.Shared" minOccurs="0" name="message" nillable="true" type="q1:SimpleMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimpleMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProtoChannel.Demo.Shared" minOccurs="0" name="SimpleMessageResult" nillable="true" type="q2:SimpleMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComplexMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProtoChannel.Demo.Shared" minOccurs="0" name="message" nillable="true" type="q3:ComplexMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComplexMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ProtoChannel.Demo.Shared" minOccurs="0" name="ComplexMessageResult" nillable="true" type="q4:ComplexMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>